*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color:#465b52;
    margin:15px 0 20px 0;
}

.section-p1{
    padding:40px 80px;
}

.section-m1{
    margin:40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:white;
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

body{
    width:100%;
}

/* HEADER */

.logo{
    height: 10vh;
    /* border-radius: 40%; */
    margin-top: 0;
    padding: 0px 0px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top:0;
    left:0;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li{
    list-style: none;
    padding:0 20px;
    position:relative;
}

#navbar li a{
    text-decoration: none;
    font-size:16px;
    font-weight: 600;
    color:#1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,#navbar li a.active{
    color:#088178;
}

#navbar li a.active::after,#navbar li a:hover::after
{
    content:"";
    width:30%;
    height:2px;
    background-color: #088178;
    position:absolute;
    bottom:-4px;
    left:30px;

}

/* contact us navbar css */
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: #333;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    
}

.dropdown p{
    color: rgb(48, 45, 45);
    padding: 10px 10px;
    margin: 10px;
}
.dropdown-content {
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* HERO SECTION */

#hero {
    display: flex;
    height: 90vh;
    padding: 0 80px;
    background-color: #d9dcea;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    z-index: 1; /* Ensures text content is on top of the image */
}

#hero h4{
    padding-bottom: 15px;
    font-size: 30px;
}

#hero h2{
    font-size: 50px;
}
#hero h1{
    font-size: 50px;
   color:#088178;
}
#hero p{
    font-size: 20px;
}
.image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-container img {
    width: 100vh; /* Ensure image fills its container */
    height: 60vh;
    max-width: 100%;
    max-height: 100%;
}

#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding:14px 80px 14px 65px;
    background-repeat:no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}

/* HERO SECTION */

#feature{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
#feature .fe-box{
    width:180px;
    text-align:center;
    padding:25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border:1px solid #cce7d0;
    border-radius: 4px;
    margin:15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.03);
}

#feature .fe-box img{
    width:100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding:9px 8px 6px 8px;
    line-height: 1;
    border-radius:4px;
    color:#088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}


#product1{
    text-align: center;
}

#product1 .pro-container{
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width:23%;
    min-width: 250px;
    padding:10px 12px;
    border:1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02);
    margin:15px 0;
    transition: 0.2s ease;
    position:relative ;
}

#product1 .pro:hover{
    box-shadow:20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img{
    width:100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding:10px 0;
}

#product1 .pro .des span{
    color:#606063;
    font-size:12px;
}

#product1 .pro .des h5{
    padding-top:7px;
    color:#1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color:rgb(243,181,25);
}

#product1 .pro .des h4{
    padding-top:7px;
    font-size:15px;
    font-weight: 700;
    color:#088178;
}

#product1 .pro .cart {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #baf3c2;
    border: 1px solid #cce7d0;
    width: 40px; 
    height: 40px;
    color: #333;
    font-size: 20px;
    transition: all 0.3s ease;
}

#product1 .pro .cart:hover {
    background-color: #91ee9f;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: white;
    font-size: 16px;
}

#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    /* color: #088178; */
    color: red;
}

#banner button:hover{
    background: #088178;
    color: white;   
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b17.jpg");
    width: 49%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 0 2px;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("img/banner/b10.jpg");
}

#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: white;
    font-size: 40px;
    font-weight: 800;
}

#sm-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b7.jpg");
    width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    /* margin: 0 2px; */
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-2{
    background-image: url("img/banner/b4.jpg");
    width: 35%;
}

#banner3 .banner-3{
    background-image: url("img/banner/b18.jpg");
    width: 30%;
}

#banner3 h2{
    color: white;
    font-size: 30px;
    font-weight: 900;
}
#banner3 h3{
    color: red;
    font-size: 20px;
    font-weight: 600;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter form{
    display: flex;
    width: 40%;
}
#message {
    color: green;
    margin-top: 10px;
}
.hidden {
    display: none;
}

.visible {
    display: block;
    color: #088178;
}
#newsletter input{
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    padding-left: 10px;

}
#newsletter button{
    background-color: #088178;
    color: white;
    white-space: nowrap;
}

.footer-logo{
    height: 150px;
    margin-bottom: 20px;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4{
    font-size: 16px;
    padding-bottom: 14px;
}

footer p{
    font-size: 14px;
    margin: 0 0 8px 0;
    /* color: #1b1a1a; */
}

footer a{
    font-size: 16px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow a{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

.footer-para{
    color: #000;
}
footer a:hover{
    color:#088178;
}

.footer-para{
    color:#1b1a1a;
}
.icon .fa-facebook:hover {
    color: #3b5998;
}

.icon .fa-twitter:hover {
    color: #1DA1F2;
}

.icon .fa-instagram:hover {
    color: #E1306C;
}

.icon .fa-pinterest-p:hover {
    color: #BD081C;
}

.icon .fa-youtube:hover {
    color: #FF0000;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* Shop CSS */
#page-header{
    background-image: url("img/banner/b1.jpg");
    height: 40vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2, p{
    color: white;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* SingleProduct CSS */
#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .singleproimage{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background-color: #088178;
    color: white;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

.black{
    color:#000;
}




/* Responsive Home Page CSS */
@media (max-width: 477px)
{
    /* Single Product */
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .singleproimage{
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }
}

/* Blog Page */
#page-header.blog-header{
    background-image: url("img/banner/b19.jpg");
}

#blog{
    padding:150px 150px 0 150px;
}

#blog .blog-box{
    display:flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width:50%;
    margin-right: 40px;
}

#blog img{
    width:100%;
    height:300px;
    object-fit: cover; 
}

#blog .blog-details{
    width:50%;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color:#000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after{
    content: "";
    width:50px;
    height:1px;
    background-color: #000;
    position: absolute;
    top:4px;
    right:-60px;
}
#blog .extra-para{
    color: #1a1a1a;
}
#blog .blog-details a:hover{
    color:#088178;   
}
#blog .blog-details a:hover::after{
    background-color: #088178;
}

#blog .blog-box h1{
    position:absolute;
    top:-40px;
    left:0;
    font-size: 70px;
    font-weight: 700;
    color:#c9cbce;
    z-index: -9;
}
#blog{
    padding:100px 20px 0 20px;
}

#blog.blog-box{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

#blog.blog-img{
    width:100%;
    margin-right: 0px;
    margin-bottom: 30px;
}
#blog.blog-details{
    width:100%;
}

.para{
    color:#1b1a1a
}

/* About Page CSS */
#page-header .about-header{
    background-image: url("img/about/banner.png");
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head p{
    color: #1b1a1a;
}
#about-head{
    display: flex;
    align-items: center;
}

#about-head div{
    padding: 40px;
    color: black;
}


#develop{
    background-color: #f3f4fa;
    text-align: center;
}

#develop .dev-container{
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#develop .pro{
    width:23%;
    min-width: 250px;
    padding:10px 12px;
    border:1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02);
    margin:15px 0;
    transition: 0.2s ease;
    position:relative ;
}

#develop .pro:hover{
    box-shadow:20px 20px 30px rgba(0,0,0,0.06);
}

#develop .pro img{
    width:100%;
    border-radius: 20px;
}

#develop .pro .des{
    text-align: start;
    padding:10px 0;
}

#develop .pro .des span{
    color:#606063;
    font-size:30px;
}

#develop .pro .des h5{
    padding-top:7px;
    color:#1a1a1a;
    font-size: 14px;
}


#develop .pro .des h4{
    padding-top:7px;
    font-size:15px;
    font-weight: 700;
    color:#088178;
}

/* Cart CSS */
#cart table{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    white-space:nowrap;
}
#cart table img{
    width:70px;
}
#cart table td:nth-child(1){
    width:100px;
    text-align:center;
}
#cart table td:nth-child(2){
    width:150px;
    text-align:center;
}
#cart table td:nth-child(3){
    width:250px;
    text-align:center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width:150px;
    text-align:center;
}
#cart table td:nth-child(5)input{
    width:70px;
    padding:10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left:none;
    border-right:none;
}
#cart table thead td{
    font-weight:700;
    text-transform:uppercase;
    font-size:13px;
    padding:18px 0;

}
#cart table tbody  tr td{
    padding-top:15px;
}
#cart table tbody td{
    font-size: 13px;
}


#cart-add{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    
}
#coupon{
    width:50%;
    margin-bottom:30px;
}
#coupon h3,
#subtotal h3
{
    padding-bottom:15px;
}
#coupon input{
    padding:10px 20px;
    outline:none;
    width:60%;
    margin-right:10px;
    border:1px solid #e2e9e1;
}
#coupon button,#subtotal button {
    background-color:#088178;
    color:#fff;
    padding:12px 20px;

}
#subtotal{
    width:50%;
    margin-bottom:30px;
    border:2px solid #e2e9e1;
    padding:30px;
}
#subtotal table{
    border-collapse: collapse;
    border: 2px solid #e2e9e1;
    width:100%;
    margin-bottom:20px;
}
#subtotal table td{
    width: 50%;
    border:1px solid #e2e9e1;
    padding: 10px;
    font-size:13px;
}

#cart input, #cart-add input{
    padding: 5px;
    border-radius: 5px;
}